<h3>
<div><span  class='square blue'> </span> <%= @current_user.first  %> </div> 

</h3>

<h1>Manage Department</h1>


<%= button_to "Log out", logout_path, class: 'btn logoutbtn', method: "delete" %>

<div class="box"></div>
<div class="depcol" style= "--department: <%= @select_department.count%>">
<% @select_department.all.each.with_index(1) do |a| %>
  
  <h2>
    <%= button_to  "Edit", manage_path(a.code), class: 'btn editbtn', method: "get" %>
    <%= "Department " + a.name%>  
    <br>
    4/40
  </h2>

<% end %>

</div>
