<h1>Manage Department</h1>
<%=@current_user.first%>
<%=@current_user.last%>

<%= button_to "Log out", logout_path, class: 'btn logoutbtn', method: "delete" %>

<div class="box"></div>
<div class="depcol">

<% Department.all.each.with_index(1) do |a| %>
  <h2>
    <%= button_to  "Edit", manage_path(a.code), class: 'btn editbtn', method: "get" %>
    <%= "Department " + a.name%>  
    <br>4/40</br>
</h2>

<% end %>

</div>
