<h3>
<div><span  class='square blue'> </span> <%= @current_user.first  %> </div> 

</h3>

<h1>Manage Department</h1>


<%= button_to "Log out", logout_path, class: 'btn logoutbtn', method: "delete" %>

<div class="box"></div>
<div class="depcol" style= "--department: <%= @select_department.count%>">
<% @all_department.each do |a| %>
  
  <h2>
    <%= button_to  "Edit", manage_path(a[0]), class: 'btn editbtn', method: "get" %>
    <%= "Department " + Department.find_by(code: a[0]).name%>  
    <br>
    <%=a[1]%>
  </h2>

<% end %>

</div>
