<h3 class = "hblue">
 <%= @current_user.first  %> 
</h3>

<h1> <%= @department.name%> </h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>


<%######################################################################################################%>
<%#  Digital Clock %>

<body onload="startTime()">
<h5> <div id="txt" align ="right" ></div> </h5>
<script>
function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>

</body>
<%######################################################################################################%>
<%#  Datetime  %>
<form  align ="right">
  <input type="datetime-local" id="birthdaytime" name="birthdaytime">
  <button id="Submit">Submit</button>
</form>

<%######################################################################################################%>
<%= button_to "Log out", logout_path, class: 'btn logoutbtn', method: "delete" %>

<div align ="right" >
<input type="text" id="fname"  name="fname">
<button id="Assign_ot_id" >Assign OT</button>
</div>


<div align ="center" >
<button id="myBtn" class = 'btn otbtn'> + </button>
</div>

<script type="text/javascript">
    $(document).ready(function(){
    $('#select-all').click(function(){
    $(".selectable").prop('checked',$(this).prop('checked'));
    });  
    });
</script>

<table align ="center" border="10" >

  <thead>
    <tr>
      <th>Delete</th>
      <th>Enter</th>
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Plan </th>
      <th>Actual</th>
      <th>Plan OT</th>
      <th>Actual OT</th>
      <th> <h5><div align ="right" >Select All <input type = "checkbox" id = "select-all"></input></div></h5> </th>
    </tr>
  </thead>

  <tbody id="main_table">

    <% @all_emp.each.with_index(1) do |a| %> 
      <tr id=<%=a.id_e %>>  
      <td> <%= link_to "-", manage_path(id_e: a.id_e) , id: "#{a.id_e}btn", method: "delete", class:'btn otbtn'%> </td>
      
      
      <td> <div class='square green' ></div> </td>
      <td> <%= a.id_e %> </td>
      <td> <%= a.first %> </td>
      <td> <%= a.last %> </td>
      <td> <%= (a.shift_times[0].start_plan.to_s.split)[1] + ' - ' + (a.shift_times[0].end_plan.to_s.split)[1] %> </td>
      <td> </td>
      <td id=<%=a.id_e + '_ot' %>> <%= a.ot_plan %> </td>
      <td> </td>
      <td> <%= check_box_tag "ot", a.id_e, false, class: 'selectable' %> </td>
  </tr>

    <script>
      $(document).ready(function(){
				console.log("main=>pop")
				var id_em = '<%= a.id_e %>'
				$("#"+id_em+"btn").click(function(){
						  $("#"+id_em).remove();
						  //console.log("<%=j render(:partial => 'manage/add_table')%>")
						  //console.log("<tr id="+id_em+"pop>  \n      <td> "+id_em+" <\/td>\n      <td> Rimuru <\/td>\n      <td> Tempest <\/td>\n      <td> <input type=\"checkbox\" name=\"add\" id=\"add\" value='"+id_em+" Rimuru Tempest 6' class=\"seable\" /> <\/td>\n  <\/tr>\n\n")
						  //$("#pop_table").append("<tr id="+id_em+"pop>  \n      <td> "+id_em+" <\/td>\n      <td> Rimuru <\/td>\n      <td> Tempest <\/td>\n      <td> <input type=\"checkbox\" name=\"add\" id=\"add\" value='"+id_em+" Rimuru Tempest 6' class=\"seable\" /> <\/td>\n  <\/tr>\n\n")
				});
      });
    </script>

  <% end %> 
  
  </tbody>

</table>


<%############## Assign_ot ######################################################%>

<div id = "myDIV">

<script>
$('#Assign_ot_id').click(function(){

  var ot_plan = document.getElementById("fname").value;
  ot_plan = parseInt(ot_plan)
  console.log(ot_plan);
  var id_es = []
  
  // No in put, show 0
	console.log(ot_plan)
	if( isNaN(ot_plan) ){
		ot_plan = 0
	}
	else{
		ot_plan = ot_plan
	}
	
    $("input:checkbox[name=ot]:checked").each(function(){
	      var id_e = $(this).val()
	      id_es.push(id_e)
         console.log(id_e)
      
         $(  '#'+id_e+'_ot'   ).text(ot_plan)
			 	 
    });
    
   $.ajax({
	method: 'PUT',
	url: '<%manage_path%>',
	data: {id_es: id_es, ot_plan: ot_plan},
	dataType: "json",
	});
  
});

</script>


</div>


<%################ Assign_time ####################################################%>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <%= render partial: "add_emp" %>

    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<%= button_to  "Back", manage_index_path, class: 'btn backbtn', method: "get" %>
