<h3>
<div><span  class='square blue'> </span> <%= @current_user.first  %> </div> 

</h3>

<h1> <%= @department.name%> </h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/DataTables/datatables.css">
<script type="text/javascript" charset="utf8" src="/DataTables/datatables.js"></script>

<button id="myBtn" class = 'btn otbtn'> + </button>
<%######################################################################################################%>
<%#  Digital Clock %>
<body onload="startTime()">

<div id="txt" align ="right" ></div>

<script>
function startTime() {
  const today = new Date();
  let h = today.getHours();
  let m = today.getMinutes();
  let s = today.getSeconds();
  m = checkTime(m);
  s = checkTime(s);
  document.getElementById('txt').innerHTML =  h + ":" + m + ":" + s;
  setTimeout(startTime, 1000);
}

function checkTime(i) {
  if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
  return i;
}
</script>

</body>
<%######################################################################################################%>
<%#  Datetime  %>
<form action="/action_page.php" align ="right">
  <input type="datetime-local" id="birthdaytime" name="birthdaytime">
  <input type="submit">
</form>

<%######################################################################################################%>

<%= button_to "Log out", logout_path, class: 'btn logoutbtn', method: "delete" %>

<script type="text/javascript">
    $(document).ready(function(){
    $('#select-all').click(function(){
    $(".selectable").prop('checked',$(this).prop('checked'));
    });  
    });
</script>

<table id="example" class="display" align ="center">

  <thead>
    <tr>
      <th> </th>
      <th>Enter</th>
      <th>ID</th>
      <th>Name</th>
      <th>Last Name</th>
      <th>Plan</th>
      <th>Actual</th>
      <th>Plan OT</th>
      <th>Actual OT</th>
      <th> </th>
    </tr>
  </thead>

  <tbody>
  <% @all_emp.each.with_index(1) do |a| %> 
  <tr id=<%=a.id_e %>>  
      <td> <%= link_to "-", manage_shifttime_path(id_e: a.id_e) , id: "#{a.id_e}btn", method: "delete", class:'btn otbtn'%> </td>
      
      
      <td> <div class='square green' ></div> </td>
      <td> <%= a.id_e %> </td>
      <td> <%= a.first %> </td>
      <td> <%= a.last %> </td>
      <td > <%= a.shift_times[0].start_plan %> </td>
      <td> </td>
      <td id=<%=a.id_e + "_ot"%>> <%= a.ot_plan %> </td>
      <td> </td>
      <td> <%= check_box_tag "ot", a.id_e, false, class: 'selectable' %> </td>
  </tr>

    <script>
      $(document).ready(function(){
        var id_em = '<%= a.id_e %>'
        $("#"+id_em+"btn").click(function(){
          $("#"+id_em).remove();
        });
      });
    </script>

  <% end %>
  
  </tbody>

</table>












<%####################################################################%>

<button class = 'btn otbtn' onclick="OTsetting()">OT Setting</button>

<div id = "myDIV" class = "hidden">
  <div   align ="right" >Select All <input type = "checkbox" id = "select-all"></input></div>
  

<input type="text" id="fname"  name="fname">
<button id="random_id">Submit</button>

<script>
$('#random_id').click(function(){




  var ot_plan = document.getElementById("fname").value;
  ot_plan = parseInt(ot_plan)
  console.log(ot_plan);

    $("input:checkbox[name=ot]:checked").each(function(){
		var id_e = $(this).val()
      console.log(id_e)
      $(  '#'+id_e+'_ot'   ).text(ot_plan)
			 $.ajax({
			  method: 'PUT',
			  url: '<%manage_shifttime_path%>',
			  data: {id_e: id_e, ot_plan: ot_plan},
			  dataType: "json",

			 });
			 
			 
			 
    });
    
    

});

</script>


</div>

<%####################################################################%>












<script>
function OTsetting() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "block") {
      x.style.display = "none";
    } else {
      x.style.display = "block";
    }
  }
</script>


<%####################################################################%>
<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close">&times;</span>
    </div>
    <div class="modal-body">
      <%= render partial: "add_emp" %>
    </div>
  </div>
</div>

<script>
// Get the modal
var modal = document.getElementById("myModal");

// Get the button that opens the modal
var btn = document.getElementById("myBtn");

// Get the <span> element that closes the modal
var span = document.getElementsByClassName("close")[0];

// When the user clicks the button, open the modal 
btn.onclick = function() {
  modal.style.display = "block";
}

// When the user clicks on <span> (x), close the modal
span.onclick = function() {
  modal.style.display = "none";
}

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

<%= button_to  "Back", manage_index_path, class: 'btn editbtn', method: "get" %>
